@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Manrope, "Manrope-Fallback", Arial, sans-serif;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#page_wrapper {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.light {
  --bg-color: var(--color-50);
  --scrollbar-thumb: rgb(var(--color-300));
  --scrollbar-track: rgb(var(--color-200));
}

.dark {
  --bg-color: var(--color-800);
  --scrollbar-thumb: rgb(var(--color-600));
  --scrollbar-track: rgb(var(--color-700));
}

#page_container {
  overflow: auto;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

::-webkit-scrollbar {
  width: 0.75em;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 0.25em;
}

::-webkit-details-marker {
  display: none;
}

.main {
  align-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 30px 10px;
  position: relative;
  padding-bottom: 5%;
}

.form-horizontal {
  display: block;
  margin-top: 0em;
}

.userlist,.userlist .user {
  align-items: center;
  display: flex;
  justify-content: center
}

.userlist .user {
  background: rgba(0,0,0,.5);
  border: 5px solid hsla(0,0%,100%,.7);
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.4);
  color: #fff;
  flex-direction: column;
  margin: 20px;
  padding: 15px;
  text-decoration: none
}

.userlist .user-img {
  border-radius: 50%;
  height: 130px;
  margin: 10px 10px 15px;
  width: 130px
}

.userlist #password {
  color: #2f313a;
  margin: 15px -5px;
  padding: 5px 10px;
  width: 100%
}

.userlist .btn {
  width: 100%
}

.userlist .forgot {
  color: #fff;
  font-size: 12px;
  margin-top: 25px
}

.btn {
  background-color: #94A3B8;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #7f8c9d;
}

.btn:active {
  transform: translateY(2px);
}